:root {
	--main-background-color: #808080;
	--header-footer-color: #542344;
	--contrast-color: #d9d9d9;
	--highlight-color: #bfd1e5;
	--second-background-color: #d8bfaa;
	--outside-padding: 5%;
}

* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

/* Start header section */
.header {
	display: flex;
	background-color: var(--header-footer-color);
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 3% var(--outside-padding);
}

.nav_list li {
	display: inline;
}

.nav_item {
	margin: 10px;
	font-size: x-large;
	color: var(--highlight-color);
	text-decoration: none;
}

.nav_item:hover {
	font-weight: bolder;
	color: var(--second-background-color);
}

.logo_container {
	color: var(--contrast-color);
	text-decoration: none;
	font-size: xx-large;
	font-weight: 900;
	transition: text-shadow 1s;
}

.logo_container:hover {
	text-shadow: 1px 1px 5px black, 0 0 0.1em white, 0 0 0.5em white;
	color: var(--main-background-color);
	color: black;
}
/* End header section */

/* Start Main here */
/* Start Hero Section here */
.hero_section {
	display: flex;
	height: 90%;
	margin-right: 20px;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	text-align: right;
	overflow: none;
}

.hero_img {
	position: relative;
	z-index: 1;
	max-width: 100%;
}

.hero_content {
	position: absolute;
	display: flex;
	height: 90%;
	margin-right: 20px;
	flex-direction: column;
	width: 95%;
	justify-content: center;
	text-align: right;
	z-index: 2;
}

.hero_content h1 {
	color: var(--contrast-color);
	font-weight: bolder;
	font-size: 70px;
}
.hero_content h2 {
	color: var(--second-background-color);
	font-weight: bolder;
	align-self: right;
	font-size: 50px;
	padding-left: 60%;
	margin: 35px 0px;
}

.hero_content button {
	align-self: right;
	padding: 10px;
	font-size: 30px;
	border-radius: 0.5em;
	background-color: var(--highlight-color);
	color: var(--header-footer-color);
	font-weight: bolder;
}
.hero_content button:hover,
.hero_content button:focus {
	box-shadow: 2px 2px 2px 2px var(--main-background-color);
	transform: translateY(-0.25em);
}
/* End Hero Section here */

/* Start About Me Section */
#aboutMe {
	background: var(--second-background-color);
	display: flex;
	margin-top: -2px;
}
#aboutMe img {
	margin: var(--outside-padding);
	max-width: 25%;
	border-radius: 0.5rem;
}
.about_me_content {
	display: inline-block;
	margin: var(--outside-padding);
	color: var(--header-footer-color);
	font-size: large;
}

.about_me_content h2 {
	font-size: xx-large;
	font-weight: bold;
	margin-bottom: 3%;
}
/* End About Me Section */

/* Start Portfolio Section */
#portfolio {
	background: var(--main-background-color);
	padding: var(--outside-padding);
	color: aliceblue;
}

/* Main Project */
.portfolio h2 {
	margin-bottom: var(--outside-padding);
	font-weight: bolder;
	font-size: xxx-large;
}

.project_1 img {
	display: block;
	position: relative;
	width: 70%;
	z-index: 1;
	border-radius: 0.5rem;
}

.project_1 div {
	position: absolute;
	z-index: 2;
	background-color: var(--header-footer-color);
	margin-top: -150px;
	padding: 30px;
	border-radius: 0px 0.5rem 0px 0.5rem;
}
.project_1 h3 {
	font-size: 50px;
}
.project_1 p {
	margin-top: 10px;
	font-size: 30px;
}
/* end of main project */

/* smaller projects */
.project_group_portfolio {
	display: flex;
	margin-top: 5%;
	flex-wrap: wrap;
	gap: 80px;
}

.projects {
	width: 47%;
}

.projects img {
	width: 100%;
	border-radius: 0.5rem;
}

.projects div {
	position: absolute;
	z-index: 2;
	background-color: var(--header-footer-color);
	margin-top: -116px;
	padding: 30px;
	border-radius: 0px 0.5rem 0px 0.5rem;
}

.projects h3 {
	font-size: 25px;
}
.projects p {
	margin-top: 10px;
	font-size: 20px;
}
/* End Portfolio Section */

/* Start Contact Information */
#contactMe {
	background-color: var(--second-background-color);
	padding: var(--outside-padding);
	display: flex;
}
.contactMe h2 {
	color: var(--header-footer-color);
	font-weight: bolder;
	font-size: 50px;
}
.contactMe form {
	background-color: var(--highlight-color);
	flex-direction: column;
	width: 100%;
	margin-right: var(--outside-padding);
	padding: 1% 2% 2% 2%;
	justify-content: space-around;
	display: flex;
	border-radius: 1rem;
}

.input_group {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

input {
	background: var(--main-background-color);
	border: none;
	color: aliceblue;
	padding: 16px 150px 5px 5px;
	font-size: 30px;
	border-radius: 0.5rem;
}
input::placeholder {
	color: aliceblue;
	font-size: 30px;
}

textarea {
	background: var(--main-background-color);
	border: none;
	color: aliceblue;
	padding: 16px 178px 100px 5px;
	font-size: 30px;
	border-radius: 0.5rem;
}

textarea::placeholder {
	color: aliceblue;
}

.input_group label {
	font-weight: bold;
	font-size: 30px;
}

.contactMe img {
	max-width: 40%;
	border-radius: 0.5rem;
}

.contactMe button {
	background: var(--contrast-color);
	color: var(--header-footer-color);
	border-radius: 0.5rem;
	font-size: 30px;
	width: 30%;
}

.contactMe button:hover,
.contactMe button:focus {
	background-color: var(--header-footer-color);
	color: var(--contrast-color);
}
/* End Contact Information */
/* End Main Section*/

/* This is where the footer starts */
footer {
	display: flex;
	background-color: var(--header-footer-color);
	justify-content: space-around;
	color: var(--contrast-color);
	font-size: x-large;
	padding: 2%;
	width: 100%;
}

@media screen and (max-width: 1466px) {
	/* portfolio section  */
	.project_group_portfolio {
		justify-content: center;
	}

	/* Contact Me section */
	input {
		padding: 10px 90px 2px 2px;
		font-size: 20px;
	}
	input::placeholder {
		font-size: 20px;
	}
	.input_group label {
		font-size: 20px;
	}
	textarea {
		padding: 16px 100px 60px 5px;
		font-size: 20px;
	}
}

@media screen and (max-width: 1234px) {
	/* Hero Section */
	.hero_content {
		height: 70%;
	}
	.hero_content h1 {
		font-size: 45px;
	}
	.hero_content h2 {
		font-size: 35px;
	}

	/*Contact Me section  */
	.contactMe h2 {
		font-size: 40px;
	}
	.input_group {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
}

@media screen and (max-width: 1048px) {
	/* Contact Me Section */
	input {
		padding: 5px 60px 2px 2px;
		font-size: 16px;
	}
	input::placeholder {
		font-size: 16px;
	}
	.input_group label {
		font-size: 16px;
	}
	textarea {
		padding: 9px 70px 40px 5px;
		font-size: 16px;
	}
}

@media screen and (max-width: 968px) {
	/* Hero Section */
	.hero_content {
		height: 50%;
	}
	.hero_content h1 {
		font-size: 30px;
	}
	.hero_content h2 {
		font-size: 20px;
	}
	/* About Me Section */
	#aboutMe {
		flex-wrap: wrap;
		justify-content: center;
	}
	#aboutMe img {
		max-width: 50%;
	}

	/* Contact Me Section  */
	.contactMe {
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
	}
	.contact_box {
		order: 2;
	}
	.contactMe img {
		order: 1;
		width: 50%;
	}
	input {
		margin: 5px;
		padding: 5px 60px 2px 2px;
		font-size: 16px;
	}
	input::placeholder {
		font-size: 16px;
	}
	.input_group label {
		font-size: 16px;
	}
	textarea {
		padding: 9px 70px 40px 5px;
		font-size: 16px;
	}
}

@media screen and (max-width: 702px) {
	/* Hero Section */
	.hero_content {
		height: 30%;
	}

	.hero_content h1 {
		font-size: 30px;
	}
	.hero_content h2 {
		font-size: 20px;
	}
	.hero_content button {
		align-self: right;
		padding: 10px;
		font-size: 20px;
		border-radius: 0.5em;
		background-color: var(--highlight-color);
		color: var(--header-footer-color);
		font-weight: bolder;
	}
	/* footer Section */
	footer {
		font-size: large;
	}
}

@media screen and (max-width: 504px) {
	/* Header Section */
	.nav_item {
		font-size: 12px;
		margin: 0px;
	}
	
	/* Hero Section */
	.hero_content h1 {
		font-size: 25px;
	}
	.hero_content h2 {
		font-size: 16px;
	}
	.hero_content button {
		padding: 8px;
		font-size: 12px;
	}
	/* Footer section */
	footer {
		font-size: small;
	}
}

@media screen and (max-width: 390px) {
	/* Header Section */
	.nav_list li {
		display: flex;
	}
	.nav_item {
		margin-bottom: 3px;
		font-size: 16px;
	}
	/* Hero Section */
	.hero_content h2 {
		margin: 10px 0px;
	}
	/* Contact Me Section  */
	.contactMe {
		gap: 10px;
	}
	.contactMe h2 {
		font-size: 30px;
		margin-bottom: 10px;
	}
	.contactMe img {
		width: 75%;
	}
	input {
		margin: 5px;
		padding: 5px 40px 2px 2px;
		font-size: 16px;
	}
	input::placeholder {
		font-size: 16px;
	}
	.input_group label {
		font-size: 16px;
	}
	textarea {
		padding: 9px 20px 20px 5px;
		font-size: 16px;
	}
	.contactMe button {
		font-size: 20px;
		width: 30%;
	}
}
